@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-dark: oklch(21.03% 0.0059 285.89);
  --color-primary-light: oklch(96.83% 0.0069 247.9);
  --font-lexend: "Lexend", sans-serif;
}

@utility bg-primary-bg {
  @apply bg-primary-light;

  @variant dark {
    @apply bg-primary-dark;
  }
}

@utility text-inv-colors {
  @apply text-white;

  @variant dark {
    @apply text-black;
  }
}

@utility margin-auto {
  @apply mx-[5vw] md:mx-[7vw] lg:mx-[8.5vw] xl:mx-[10vw];
}

html,
body {
  @apply font-lexend text-black dark:text-white;
  scroll-behavior: smooth;
}

form {
  @apply overflow-hidden;

  input {
    @apply disabled:cursor-not-allowed disabled:opacity-75 focus:outline-none border-0 rounded-md placeholder-neutral-400 dark:placeholder-neutral-500 text-sm px-2.5 py-1.5 shadow-sm bg-white dark:bg-neutral-900 ring-1 ring-inset ring-neutral-300 dark:ring-neutral-700 focus:ring-2
  }

  label {
    @apply font-medium text-sm text-neutral-700 dark:text-neutral-200;
  }

  button[type=submit] {
    @apply mt-2 cursor-pointer disabled:cursor-not-allowed disabled:opacity-75 aria-disabled:cursor-not-allowed aria-disabled:opacity-75 font-medium rounded-md text-sm gap-x-1.5 px-2.5 py-1.5 shadow-sm text-white dark:text-black bg-neutral-900 hover:bg-neutral-800 disabled:bg-neutral-900 aria-disabled:bg-neutral-900 dark:bg-neutral-200 dark:hover:bg-white dark:aria-disabled:bg-white focus-visible:ring-inset focus-visible:ring-2 w-full flex justify-center items-center;
  }
}